* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
=======
body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
   
    font-weight: 400;
  
   
>>>>>>> 94a9897d6ea1f3823c09c60b2fd6cf4ace5f8caa
}

.about-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    padding: 2rem;
}

.image-container {
    position: relative;
<<<<<<< HEAD
    flex: 1;
=======

>>>>>>> 94a9897d6ea1f3823c09c60b2fd6cf4ace5f8caa
}

.image-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: auto;
    border-radius: 8px;
}

<<<<<<< HEAD
.image-bottom {
    position: relative;
=======
.logo{
    font-size: 2rem;
    color: white;
    font-weight: 800;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-align: center;
    cursor: pointer;
}
.BOTTOM-TEXT-LOGO{
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;

}

.disktop-menus ul {
    display: flex;
    /* gap: 2rem; */
    list-style: none;
  
    align-items: center;
    text-align: center;
    justify-content: center;
   
}

.disktop-menus ul li a{
font-size: 1.4rem;
line-height: 1.625rem;

font-weight: 500;
font-family: "Roboto, sans-serif";
color: white;
text-decoration: none;
padding: 38px 20px;
text-transform: capitalize;
transition:  background-color 0.5s;

}
.disktop-menus  ul li a:hover{
    background-color: #ffffff;
    color: #086AD8;
}

.getA-Quote{
    display: flex;
    align-items: center;
  
}
.getA-Quote .get{
    display: flex;
    gap: 10px;
    background-color: #086AD8;
  padding:  1.2rem 1.8rem;
  margin-right: 1.25rem;
color: white;
transition:   background-color 0.5s ease-in-out;
cursor: pointer;
}
.getA-Quote .get span{
    color: white;
  
    font-size: 17px;
  font-weight :700;
  font-family: "Roboto, sans-serif";
}

.getA-Quote .get a{
    font-size: 17px;
    font-weight :700;
    color: white;
    font-family: "Roboto, sans-serif";
    text-decoration: none;
    left: 54px;
    

}
.getA-Quote .get:hover{
    background-color: #ffffff;
   
}
.getA-Quote .get:hover a{
    color: #001d23 ;
}
.getA-Quote .get:hover span{
    color: #001d23    ;
}
.search-Icon{
    border: 2px solid rgb(26, 52, 57);
    font-weight: 400;
    height: 56px;
    padding:  1.2rem 1.4rem;
    border-radius: 2px;
    transition: background-color 0.5s;
    cursor: pointer;
   
}
.search-Icon i{
    color: white;
}

.search-Icon:hover{
    background-color: #086AD8;

}

/* mobile menu */
.humber-contaier{
    display: none;
}

.mobile-menu{
    padding:1.4rem 0rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.mobile-menu ul {
    display: flex;
    /* gap: 2rem; */
    list-style: none;
  
    align-items: center;
    text-align: center;
    justify-content: center;
   
}

.mobile-menu ul li a{
    font-size: 1.4rem;
    line-height: 1.625rem;
    
    font-weight: 500;
    font-family: "Roboto, sans-serif";
    color: white;
    text-decoration: none;
    padding: 38px 20px;
    text-transform: capitalize;
    transition:  background-color 0.5s;
    
    }
/* end mobile menu */

/* end header */

/* statr banner */

.container-banner{
    background: linear-gradient(rgba(1, 44, 58, 0.927),rgba(1, 53, 61, 0.591)), url('https://wphix.com/template/techbuzz-prv/techbuzz/assets/images/banner/banner-slide-1.jpeg');
 
  height: 50rem;
    background-position: bottom;
  background-size: cover;
  position: absolute;
  top: 15%;

left: 5%;
right: 5%;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25%;
    color: #ffffff;
}

.banner-text h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Cerebri Sans"

}

.banner-text h2{
    font-family: "Cerebri Sans";
    font-size: 6.25rem;
    font-weight: 600;

}



.bottons a{
    display: inline-block;
    padding: 0px 2rem;
    color: #ffffff;
    background: #086AD8;
    font-weight: 700;
    border: 2px solid transparent;
    font-family: "Cerebri Sans";
    height: 60px;
    line-height: 56px;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
}
.bottons .Learn-btn{
    background: transparent;
    color: white;
    position: relative;
    border: 2px solid #6b7071;
    height: 4rem;
    line-height: 56px;
    text-decoration: none;
    box-sizing: border-box;
}
.bottons .getIn-Touch:hover {
    background-color: #001d23;
}
.bottons .Learn-btn:hover{
    background-color: #086AD8;
    border: none;
}
.bottons{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.Appointment{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6rem 2rem;
   min-height:40vh;
    background-color: #086AD8;
top: 100%;
}

.appointment-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}
.appointment-container .title{
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    font-family: "Cerebri Sans"
}

.appointment-container  input{
    border-radius: 0px;

padding: 28px 49px;
    background: #ffffff;
    border: none;
    color: #001D23;
    /* padding-left: 55px; */
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;
    outline: none;
}
.appointment-container  input::placeholder{
    font-weight: 600;
    color: black;
    font-size: 1rem;
}
.select{
    border-radius: 0px;
    padding: 28px 40px;
    background: #ffffff;
    border: none;
    color: #001D23;
    padding-left: 55px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;  
    font-size: 1rem;
    outline: none;
}

.appointment-container .btn {
    border-radius: 0px;
    padding: 28px 40px;
    background: #004189;
    ;
    border: none;
    color: #001D23;
    padding-left: 55px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}
.appointment-container .btn button{
    border-radius: 0px;
    font-size: 1rem;
background-color: #004189;
;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;
}
.Banner{
    height: 110vh;
}
/* end statr banner */

/* service */
.service-section {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6.25rem;
    background: #F8F8F8;
    margin-top: 3rem;
}
.serviceText-container{
    text-align: center;
}
.serviceText-container h5{
    font-family: "Cerebri Sans";
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-weight: 500;
}
.serviceText-container h5::before{
    content: "//";
    padding-right: 1rem;
    color: #086AD8;
    font-size: 1.5rem;
    font-weight: 900;
}
.serviceText-container h5::after{
    content: "//";
    padding-left: 1rem;
    color: #086AD8;
    font-size: 1.5rem;
    font-weight: 900;
}
.serviceText-container h2{
    font-family: "Cerebri Sans";
font-size: 3.125rem;
font-weight: 500;
line-height: 3.75rem;
color: #086AD8;
margin-top: 2rem;
}

.servise-boxs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 1rem;
    justify-content: center;

  
}

.boxs{
    margin-top: 4rem;
    min-width: 300px;
    width: calc(25% - 20px);
background-color: white;
   text-align: center;
   padding: 2rem ;

border-radius: 0.5rem;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
transition:  transform 0.4s ease-in-out;
}


.boxs:hover{
  
  
   transform: translateY(-20px);
   box-shadow: 0px  8px 10px #91c4ff;
}
.box-icon img{
    width: 4rem;
}
.boxs h2{
    padding-top: .8rem;
    line-height: 1.5rem;
    font-weight: 600;
}
.boxs p{
    font-size: 1rem;
    color: #6b7071;
    line-height: 1.5rem;
    padding: .8rem 0rem;

}
.boxs button{
    padding: 0.5rem 2rem;
    border: none;
    background-color: #086AD8;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding-top: 0.7rem;
    transition:  background-color 0.4s ease-in-out ;
}
.boxs button:hover{
    background-color: #001d23;
}
/* End service */
.why-chooseUs-container{
    height: 100vh;
    margin-top: 4rem;
}
.why-chooseUsGrid{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
}

.why-chooseUs img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  

/* background: url('https://plus.unsplash.com/premium_photo-1661690063036-0b662d911241?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
/* background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
width: 100%;
margin-inline: auto; */

}
/*     */
.wyh-choose-text-container h2{
    font-size: 3.125rem;
    color: #086AD8;
    line-height: 3.2rem;
    padding: 1rem 2rem;
   
}
.wyh-choose-text-container p{
    font-size: 1.2rem;
    color: #6b7071;
    line-height: 2rem;
    padding: 1rem 2rem;
}
.wyh-choose-text-container h2::before{
    content: "_____";
    padding-right: 1rem;
    color: #004189;
}
.why-chooseUs-services-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 3rem 1.5rem;
  
   
}
.why-service{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    border-right: 2px solid #086AD8;
    padding-right: 1rem;
    margin-bottom: 3rem;
    transition:   transform 2s ease-in-out;
}
.why-service:hover .icons{
    transform: translateY(-15px);
}
.text{
    text-align: center;
}
.text h3{
    text-transform: capitalize;
    color: #333333;
    font-weight: 500;
}
.text .subtitle{
    font-size: 1rem;
    color: #6b7071;
    line-height: 1.5rem;
    padding: 1rem 2rem;
}

.why-service .icons img{
width: 5rem;
}

/* end why choose Us */



/* call action section */

.call-action-section {
position: relative;
    background:  linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("https://wphix.com/template/techbuzz-prv/techbuzz/assets/images/bg/cta-bg-2.jpeg");
/* height: 100%;  */
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top:4.7rem;
padding-bottom:4.7rem;
  margin-top: 4rem;
}


.call-action_text{
color: white;
display: flex;
align-items: center;
justify-content: space-between;
max-width: 1200px;
margin-inline: auto;
 
   
}
.call-action_text .texts h3{
    font-size: 50px;
    letter-spacing: -2px;
    line-height: 60px;
  width: 80%;
}
.call-action_text .texts p{
 

    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.call-action_text .texts span{
    color: #086AD8;
    font-size: 1rem;
    padding-right: 1rem;
    line-height: 1.4rem;
    font-weight: 500;

}
.btn{

        display: flex;
        gap: 10px;
        background-color: #086AD8;
      padding:  1.2rem 1.8rem;
      margin-right: 1.25rem;
    color: white;
    transition:   background-color 0.5s ease-in-out;
    cursor: pointer;
    }
    .btn a{
        font-size:1.1rem;
        font-weight :700;
        color: white;
        /* font-family: "Roboto, sans-serif"; */
        text-decoration: none;
        left: 54px;
        
    }
    .btn:hover{
        background-color: #001D23;
    }


/* end call action section */

/* how e works */
.how-we-works-boxs-grid{
    display: grid;
    align-items: center;
  text-align: center;
 grid-template-columns: repeat(4,1fr);
 width: 100%;
}
.number-box span{
    background-color: #086AD8;
    padding: 1rem;
    border-radius: 50%;
  

}
.number-box{
    padding-bottom: 1rem;
}
.card-desgn{
    background-color: #086AD8;
    padding: 1rem;
    margin-top: 1rem;
    width: 250px;
}
/* End how e works */


/* large screen */
@media screen and (max-width:1240px){
    .servise-boxs{
        grid-template-columns: repeat(3, 1fr);
           width: calc(33.33% - 20px);
        
       gap: 2rem;
}


/* why-schooseUs */
.why-chooseUsGrid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.wyh-choose-text-container h2{
    text-align: center;
}

/* ENDwhy-schooseUs */

/* call action */
.call-action-section{
  
        margin-top: 15rem;
 
  
}
.call-action_text{
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding-left: 4rem;
}
.call-action_text .texts h3{
    font-size: 3.125rem;
    letter-spacing: -2px;
    line-height:3.75;
width: 100%;
}
/* end call action */

}
/* end large screen */
/*  medium  media screen*/

@media screen and (max-width:991px) {
  /* mobile menus */
  .humber-contaier{
    display: flex;
  
  justify-content: space-between;
  /* margin-top: 2rem; */
  padding:2rem 0rem ;
  }
  .humber i{
    color: #086AD8;
    font-size: 1.3rem;
    border: 1px solid #086AD8;
    font-weight: 700;
    padding: 10px 13px;
    cursor: pointer;
    /* width: 30px; */
  }
  .logo{
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.mobile-menu{
   
    width: 100%;
}

.mobile-menu ul{
   
    padding-left: 1rem;
    text-align: left;
>>>>>>> 94a9897d6ea1f3823c09c60b2fd6cf4ace5f8caa
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 50px;
}

<<<<<<< HEAD
.text-container {
    flex: 1;
=======
.mobile-menu ul li{
  width: 100%;
    /* border: 1px solid white; */
    padding-bottom: 12px;
padding-left: 45.0938px;
padding-right: 45.0938px;
padding-top: 12px;
background-color: rgba(0, 0, 0, 0);
border-top-color :rgba(255, 255, 255, 0.5);
border-top-style :solid;
border-top-width: 0.666667px;

>>>>>>> 94a9897d6ea1f3823c09c60b2fd6cf4ace5f8caa
}

.text-container h4 {
    font-size: 0.9rem;
    color: #007bff;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.text-container h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    color: #333;
    margin: 0.5rem 0;
}

.text-container h1 span {
    color: #007bff;
}

.text-container p {
    font-size: 1rem;
<<<<<<< HEAD
    color: #666;
    line-height: 1.6;
    margin: 0.5rem 0;
=======
   text-transform: uppercase;
font-weight :500;
color: rgb(255, 255, 255);
}
.mobile-menu ul li a:hover{
    color: #086AD8;
}
.mobile-menu{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  
  width: 100%;
  transition: transform 0.7s ease-in-out;
transform: translateY(100%);


}
.mobile-menu[data-visible="false"]{
    transform: translateY(0%);
    
>>>>>>> 94a9897d6ea1f3823c09c60b2fd6cf4ace5f8caa
}

.learn-more-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}

.learn-more-button span {
    font-size: 1.2rem;
    margin-left: 0.5rem;
}
<<<<<<< HEAD
=======

  /*end  mobile menus */


  /* desktop-menus */
  .disktop-menus{
    display: none;
  }
  .mobile-menu{
    display: flex;
  
}
  /* end desktop-menus */

/* start banner */
.Appointment{
    min-height: 67%;
}
.appointment-container{
 
grid-template-columns: 1fr ;
   
}
.title{
    text-align: center;
}

.appointment-container .btn{
    width: 50%;
    margin-inline: auto;
}

/*end start banner */

/* start service section */
.service-section{
    margin-top: 2rem;
}

.servise-boxs{
 grid-template-columns: repeat(2, 1fr);
    width: calc(50%- 20px);
 
gap: 2rem;

  
}
.serviceText-container h2{
    font-family: "Cerebri Sans";
font-size: 2rem;
font-weight: 500;
line-height: 2.7rem;
color: #086AD8;
margin-top: 2rem;
}

/* End service section */

/* call action  */
.call-action_text .texts h3{
    font-size: 3.125rem;
    letter-spacing: -2px;
    line-height:3.75rem;
width: 100%;
}
/* end call action  */
}
/* End tablates  media screen*/


/* mobile screens */
@media screen and (max-width:768px){
    /* banner */
    .container-banner{
        height: 30rem;
        margin-top: 1rem;
    }
    .appointment-container .btn{
        width:100%;
        margin-inline: auto;
    }
    .Appointment{
        min-height: 70vh;
    }
    .banner-text h2{
        padding: 1rem 0rem;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Cerebri Sans"
    
    }
    /* banner */
    /* service */
    .servise-boxs{
        grid-template-columns: 1fr 1fr;
        width: calc(50% - 20px) ;   
        min-width: 200px;   
margin-inline: auto;
}
    /*End  service */

    /* whychooseUs */
    .why-chooseUs-services-container{
        grid-template-columns: 1fr;
    }
    .wyh-choose-text-container h2{
        text-align: center;
        font-size: 2.5rem;
    }
    /* End whychooseUs */

     /* call action */
  .call-action-section{
    margin-top: 30rem;
}
  /* End call action */

}
@media screen and (max-width:676px){
    .servise-boxs{
        grid-template-columns: 1fr ;
     width: 50%;  
     margin-inline: auto;
        min-width: 200px;   
      

}
}
@media screen and (max-width:481px){
    /* start banner */
    .Appointment{

     min-height:70vh;
    }
    .banner-text h2{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Cerebri Sans"
    
    }

    .banner-text  .bottons{
       flex-direction: column;
    }
    .appointment-container .btn{
        width:100%;
        margin-inline: auto;
    }

    /* end banner */
    /* services */
    .servise-boxs{
        grid-template-columns: 1fr;
        justify-content: center;
        width: 50%;  
     
        margin-inline: auto;    

}
.serviceText-container h2{
    font-family: "Cerebri Sans";
font-size: 1.5rem;
font-weight: 500;
line-height: 2.5rem;
color: #086AD8;
margin-top: 2rem;
}
.service-section{
    margin-top: 2rem;
}
    /*End  services */

    /* why-chooseUs */
    .why-chooseUs-services-container{
        grid-template-columns: 1fr;
    }
    .wyh-choose-text-container h2{
        text-align: center;
        font-size: 1.7rem;
    }
    /*End why-chooseUs */
  /* call action */
  .call-action-section{
    margin-top: 40rem;
}
.call-action_text .texts h3{
    font-size: 2rem;
   padding-bottom: 1rem;
    line-height: 2.5rem;
width: 100%;
}
.call-action_text{
    padding-left: 2rem;
}
  /* End call action */


}


@media screen and (max-width:390px){
    /* call action */
    .call-action-section{
        margin-top: 50rem;
    }
    /*end  call action */
}
/* endmobile screens */
>>>>>>> 94a9897d6ea1f3823c09c60b2fd6cf4ace5f8caa
