@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
   
    font-weight: 400;
  
   
}

.container{
    width: min(90%, 1300px);
    margin-inline: auto;
}

/* header */
.header{
    background-color: #021f25;
    height: 30rem;
    position: relative;

}

.disktop-menus{
    padding:1.4rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
width: 100%;
}

.logo{
    font-size: 2rem;
    color: white;
    font-weight: 800;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-align: center;
    cursor: pointer;
}
.BOTTOM-TEXT-LOGO{
    font-size: 0.8rem;
    text-align: center;
    font-weight: 500;

}

.disktop-menus ul {
    display: flex;
    /* gap: 2rem; */
    list-style: none;
  
    align-items: center;
    text-align: center;
    justify-content: center;
   
}

.disktop-menus ul li a{
font-size: 1.4rem;
line-height: 1.625rem;

font-weight: 500;
font-family: "Roboto, sans-serif";
color: white;
text-decoration: none;
padding: 38px 20px;
text-transform: capitalize;
transition:  background-color 0.5s;

}
.disktop-menus  ul li a:hover{
    background-color: #ffffff;
    color: #086AD8;
}

.getA-Quote{
    display: flex;
    align-items: center;
  
}
.getA-Quote .get{
    display: flex;
    gap: 10px;
    background-color: #086AD8;
  padding:  1.2rem 1.8rem;
  margin-right: 1.25rem;
color: white;
transition:   background-color 0.5s ease-in-out;
cursor: pointer;
}
.getA-Quote .get span{
    color: white;
  
    font-size: 17px;
  font-weight :700;
  font-family: "Roboto, sans-serif";
}

.getA-Quote .get a{
    font-size: 17px;
    font-weight :700;
    color: white;
    font-family: "Roboto, sans-serif";
    text-decoration: none;
    left: 54px;
    

}
.getA-Quote .get:hover{
    background-color: #ffffff;
   
}
.getA-Quote .get:hover a{
    color: #001d23 ;
}
.getA-Quote .get:hover span{
    color: #001d23    ;
}
.search-Icon{
    border: 2px solid rgb(26, 52, 57);
    font-weight: 400;
    height: 56px;
    padding:  1.2rem 1.4rem;
    border-radius: 2px;
    transition: background-color 0.5s;
    cursor: pointer;
   
}
.search-Icon i{
    color: white;
}

.search-Icon:hover{
    background-color: #086AD8;

}

/* mobile menu */
.humber-contaier{
    display: none;
}

.mobile-menu{
    padding:1.4rem 0rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.mobile-menu ul {
    display: flex;
    /* gap: 2rem; */
    list-style: none;
  
    align-items: center;
    text-align: center;
    justify-content: center;
   
}

.mobile-menu ul li a{
    font-size: 1.4rem;
    line-height: 1.625rem;
    
    font-weight: 500;
    font-family: "Roboto, sans-serif";
    color: white;
    text-decoration: none;
    padding: 38px 20px;
    text-transform: capitalize;
    transition:  background-color 0.5s;
    
    }
/* end mobile menu */

/* end header */

/* statr banner */

.container-banner{
    background: linear-gradient(rgba(1, 44, 58, 0.927),rgba(1, 53, 61, 0.591)), url('https://wphix.com/template/techbuzz-prv/techbuzz/assets/images/banner/banner-slide-1.jpeg');
 
  height: 50rem;
    background-position: bottom;
  background-size: cover;
  position: absolute;
  top: 15%;

left: 5%;
right: 5%;
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 25%;
    color: #ffffff;
}

.banner-text h5{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Cerebri Sans"

}

.banner-text h2{
    font-family: "Cerebri Sans";
    font-size: 6.25rem;
    font-weight: 600;

}



.bottons a{
    display: inline-block;
    padding: 0px 2rem;
    color: #ffffff;
    background: #086AD8;
    font-weight: 700;
    border: 2px solid transparent;
    font-family: "Cerebri Sans";
    height: 60px;
    line-height: 56px;
    text-decoration: none;
    transition: background-color 0.4s ease-in-out;
}
.bottons .Learn-btn{
    background: transparent;
    color: white;
    position: relative;
    border: 2px solid #6b7071;
    height: 4rem;
    line-height: 56px;
    text-decoration: none;
    box-sizing: border-box;
}
.bottons .getIn-Touch:hover {
    background-color: #001d23;
}
.bottons .Learn-btn:hover{
    background-color: #086AD8;
    border: none;
}
.bottons{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.Appointment{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6rem 2rem;
   min-height:40vh;
    background-color: #086AD8;
top: 100%;
}

.appointment-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: white;
}
.appointment-container .title{
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    font-family: "Cerebri Sans"
}
.appointment-container  .input{
  
}
.appointment-container  input{
    border-radius: 0px;

padding: 28px 49px;
    background: #ffffff;
    border: none;
    color: #001D23;
    /* padding-left: 55px; */
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;
    outline: none;
}
.appointment-container  input::placeholder{
    font-weight: 600;
    color: black;
    font-size: 1rem;
}
.select{
    border-radius: 0px;
    padding: 28px 40px;
    background: #ffffff;
    border: none;
    color: #001D23;
    padding-left: 55px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;  
    font-size: 1rem;
    outline: none;
}

.appointment-container .btn {
    border-radius: 0px;
    padding: 28px 40px;
    background: #004189;
    ;
    border: none;
    color: #001D23;
    padding-left: 55px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}
.appointment-container .btn button{
    border-radius: 0px;
    font-size: 1rem;
background-color: #004189;
;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-weight: 500;
}
.Banner{
    height: 110vh;
}
/* end statr banner */

/* service */
.service-section {
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6.25rem;
    background: #F8F8F8;
    margin-top: 3rem;
}
.serviceText-container{
    text-align: center;
}
.serviceText-container h5{
    font-family: "Cerebri Sans";
    font-size: 1.3rem;
    line-height: 1.4rem;
    font-weight: 500;
}
.serviceText-container h5::before{
    content: "//";
    padding-right: 1rem;
    color: #086AD8;
    font-size: 1.5rem;
    font-weight: 900;
}
.serviceText-container h5::after{
    content: "//";
    padding-left: 1rem;
    color: #086AD8;
    font-size: 1.5rem;
    font-weight: 900;
}
.serviceText-container h2{
    font-family: "Cerebri Sans";
font-size: 3.125rem;
font-weight: 500;
line-height: 3.75rem;
color: #086AD8;
margin-top: 2rem;
}

.servise-boxs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.boxs{
    margin-top: 4rem;
    min-width: 300px;
    width: calc(25% - 20px);
background-color: white;
   text-align: center;
   padding: 2rem ;

border-radius: 0.5rem;
box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
transition:  transform 0.4s ease-in-out;
}


.boxs:hover{
  
  
   transform: translateY(-20px);
   box-shadow: 0px  8px 10px #91c4ff;
}
.box-icon img{
    width: 4rem;
}
.boxs h2{
    padding-top: .8rem;
    line-height: 1.5rem;
    font-weight: 600;
}
.boxs p{
    font-size: 1rem;
    color: #6b7071;
    line-height: 1.5rem;
    padding: .8rem 0rem;

}
.boxs button{
    padding: 0.5rem 2rem;
    border: none;
    background-color: #086AD8;
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    padding-top: 0.7rem;
    transition:  background-color 0.4s ease-in-out ;
}
.boxs button:hover{
    background-color: #001d23;
}
/* End service */

/* why choose Us */

/* large screen */
@media screen and (max-width:1240px){
    .servise-boxs{
        grid-template-columns: repeat(3, 1fr);
           width: calc(33.33% - 20px);
        
       gap: 2rem;
}
}
/* end large screen */
/*  medium  media screen*/

@media screen and (max-width:991px) {
  /* mobile menus */
  .humber-contaier{
    display: flex;
  
  justify-content: space-between;
  /* margin-top: 2rem; */
  padding:2rem 0rem ;
  }
  .humber i{
    color: #086AD8;
    font-size: 1.3rem;
    border: 1px solid #086AD8;
    font-weight: 700;
    padding: 10px 13px;
    cursor: pointer;
    /* width: 30px; */
  }
  .logo{
    font-size: 1.5rem;
    color: white;
    font-weight: 800;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.mobile-menu{
   
    width: 100%;
}

.mobile-menu ul{
   
    padding-left: 1rem;
    text-align: left;
    width: 100%;
    display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 400;
height: 480px;
left :0px;
line-height: 26px;
top: 0;
position: absolute;

}

.mobile-menu ul li{
  width: 100%;
    /* border: 1px solid white; */
    padding-bottom: 12px;
padding-left: 45.0938px;
padding-right: 45.0938px;
padding-top: 12px;
background-color: rgba(0, 0, 0, 0);
border-top-color :rgba(255, 255, 255, 0.5);
border-top-style :solid;
border-top-width: 0.666667px;

}
.mobile-menu ul li a{
    /* font-size: 1rem; */
    line-height: 26px;
    font-size: 1rem;
   text-transform: uppercase;
font-weight :500;
color: rgb(255, 255, 255);
}
.mobile-menu ul li a:hover{
    color: #086AD8;
}
.mobile-menu{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  
  width: 100%;
  transition: transform 0.7s ease-in-out;
transform: translateY(100%);


}
.mobile-menu[data-visible="false"]{
    transform: translateY(0%);
    
}

.humber i[data-visible="false"]{
    display: none;
}

.humber i[data-visible="true"]{
    display: block;
}

  /*end  mobile menus */


  /* desktop-menus */
  .disktop-menus{
    display: none;
  }
  .mobile-menu{
    display: flex;
  
}
  /* end desktop-menus */

/* start banner */
.Appointment{
    min-height: 67%;
}
.appointment-container{
 
grid-template-columns: 1fr ;
   
}
.title{
    text-align: center;
}

.appointment-container .btn{
    width: 50%;
    margin-inline: auto;
}

/*end start banner */

/* start service section */
.service-section{
    margin-top: 2rem;
}

.servise-boxs{
 grid-template-columns: repeat(2, 1fr);
    width: calc(50%- 20px);
 
gap: 2rem;

  
}
.serviceText-container h2{
    font-family: "Cerebri Sans";
font-size: 2rem;
font-weight: 500;
line-height: 2.7rem;
color: #086AD8;
margin-top: 2rem;
}

/* End service section */

}
/* End tablates  media screen*/


/* mobile screens */
@media screen and (max-width:767px){
    /* banner */
    .container-banner{
        height: 30rem;
        margin-top: 1rem;
    }
    .appointment-container .btn{
        width:100%;
        margin-inline: auto;
    }
    .Appointment{
        min-height: 70vh;
    }
    .banner-text h2{
        padding: 1rem 0rem;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Cerebri Sans"
    
    }
    /* banner */
    /* service */
    .servise-boxs{
        grid-template-columns: 1fr 1fr;
        width: calc(50% - 20px) ;   
        min-width: 200px;   
margin-inline: auto;
}
    /*End  service */

}
@media screen and (max-width:481px){
    /* start banner */
    .Appointment{

     min-height:70vh;
    }
    .banner-text h2{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        font-family: "Cerebri Sans"
    
    }

    .banner-text  .bottons{
       flex-direction: column;
    }
    .appointment-container .btn{
        width:100%;
        margin-inline: auto;
    }

    /* end banner */
    /* services */
    .servise-boxs{
        grid-template-columns: 1fr;
        justify-content: center;
        width: 50%;  
     
        margin-inline: auto;    

}
.serviceText-container h2{
    font-family: "Cerebri Sans";
font-size: 1.5rem;
font-weight: 500;
line-height: 2.5rem;
color: #086AD8;
margin-top: 2rem;
}
.service-section{
    margin-top: 2rem;
}
    /*End  services */
  
}
/* endmobile screens */