@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: white;
}

.container {
    width: min(90%, 11120px);
    margin-inline: auto;
}

.container-2 {
    width: min(90%, 1120px);
    margin-inline: auto;
}

.container-3 {
    width: min(90%, 11120px);
    margin-inline: auto;
}




img {
    width: 100%;
}

header {
    height: 48px;
    width: 100%;
    /* border-bottom: 2px solid #E9F4FF; */
}

.top-header {
    display: flex;
    justify-content: space-between;
}



.right-side {
    display: flex;
    gap: 40px;
}

.right-side .email {
    color: #001D23;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;

}

.email {
    display: flex;
    gap: 20px;

}

.icon i {
    width: 40px;
    height: 48px;
    border: 2px solid #E9F4FF;
    font-size: 26px;
    padding: 5px;
}


.call {
    display: flex;
    gap: 20px;
    color: #001D23;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}



.info,
a {
    padding: 7px 0px;
    text-decoration: none;
    color: #001D23;

}

.icon {
    color: #086AD8;
}

.info a:hover {
    color: #086AD8;
    transition: 1ms;
}

.left-side {
    display: flex;
    gap: 20px;
}

.dropdown {
    padding: 10px 0px;

}

.left-side .email .info {
    padding: 10px 0px;
    text-align: center;
}

label:hover {
    color: #086AD8;
}

/* End top header */




/* End second header */


.hero {
    margin-top: 20px;
}

.img-bacground {
    height: 455.188px;
    background: linear-gradient(rgba(27, 28, 28, 0.5), rgba(20, 19, 19, 0.5)), url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/64/715624af3fe5286.jpg") center /cover no-repeat;
    justify-content: center;
    align-items: center;

}

.informtaion h1 {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    padding: 160px 80px;

}

/* end hero section  */

.sawir img {
    width: 500px;
}


.main {
    margin-top: 100px;
    display: flex;
    gap: 50px;
}

.pragraphs {
    margin-top: 30px;
}

.pragraphs h1 {
    font-size: 36px;
    line-height: 42px;
    font-weight: 600;
    color: #001D23;
    letter-spacing: -2px;

}

.p1 {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-bottom: 10px;
}

.p1 span {
    color: #086AD8;
    font-size: 20px;
}

.p2 {
    margin-top: 10px;
    color: #001D23;
}

.Web-Template-Design {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.flex-guud {
    margin-top: 40px;
    display: flex;
    gap: 50px;
}

.check {
    border: 2px solid #c4c4c5;
    padding: 10px;
    color: #086AD8;
}

.check:hover {
    background-color: #086AD8;
    color: #E9F4FF;
}

.p-template p {
    padding: 10px;

}

button {
    background-color: #086AD8;
    height: 56px;
    width: 200px;
    border: none;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #001D23;
}

  /* end a bout section */



.cards {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}


.card {
    margin-top: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 450px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 20px;
}

.card ul {
    display: grid;
    list-style: none;
    padding: 0;
}

.cards-Template-Design {
    display: flex;
    gap: 1px;
}


.check-2 {
    border: 2px solid #c4c4c5;
    padding: 10px;
    color: #086AD8;
    width: 10%;
    height: 10%;
}

.check-2:hover {
    background-color: #086AD8;
    color: #E9F4FF;
}

/* end services-section */


.Why-Choose-Us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-top: 5rem;
    background-color: #ececf2;
}

.Why-Choose-Us p {
    font-size: 20px;
    margin-bottom: 10px;
}

.Why-Choose-Us p span,
.feature-title span {
    color: #086AD8;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.feature {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.feature:hover {
    border-top: 10px solid #086AD8;
    box-shadow: 0 2px 5px rgba(87, 73, 166, 0.1);


}

.feature-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.feature-text {
    color: #666;
    line-height: 1.6;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


/* end why-choose-us-section */






.pricing-header-2 {
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.pricing-header-2 p span {
    color: #086AD8;
}

/* .......................................................... */


.Advanced-Analytics-2 {
    width: 500px;
    height: 600px;
    background-color: #f0f2f4;

}

.purchase-now {
    background-color: #333;
    border-radius: 10px;
}

.purchase-now p {
    padding-top: 40px;
    padding-left: 40px;
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.both {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.both .pracise h1 span {
    font-size: 20px;

}

.both .pracise h1 {
    color: white
}

.list-of-services {
    padding: 25px;

}

.list-of-services .cards-Template-Design {
    gap: 10px;
    margin-bottom: 20px;
}

.list-of-services-flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


/* end pricing-section */














































/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .top-header {
        display: flex;
        align-items: center;
        padding: 10px 0;
        text-align: center;
    }

    .right-side,
    .left-side {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .icon i {
        font-size: 22px;
        padding: 3px;
    }

    .dropdown,
    .call,
    .email .info {
        font-size: 14px;
        line-height: 22px;
    }

    .info,
    a {
        font-size: 14px;
    }

    /* end top header */

    .img-bacground {
        height: 300px;
        padding: 20px;
        width: 100%;
        margin-top: 80px;
    }

    .informtaion h1 {
        font-size: 2rem;
        padding: 80px 20px;
        text-align: left;
    }

    /* end hero section */


    
    .main {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .sawir img {
        width: 100%;
        max-width: none;
    }

    .pragraphs h1 {
        text-align: left;
    }

    .pragraphs h1 {
        font-size: 28px;
    }

    .p1 {
        font-size: 14px;
    }

    .p2 {
        font-size: 14px;
    }

    .flex-guud {
        flex-direction: column;
        gap: 0px;
    }

    button {
        width: 100%;
    }

    /* end a bout section */


    .cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 50px;

    }

    .card {
        width: 100%;
        margin: 10px 0;

    }

    .check-2 {
        width: auto;

    }


    /* end services-section  */

    .Why-Choose-Us {
        padding: 20px;
        margin-top: 2rem;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 20px;
        text-align: center;
    }

    .Why-Choose-Us p {
        font-size: 18px;
    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .feature {
        width: 100%;
        padding: 20px;
    }

    .feature-title {
        font-size: 1.3em;
    }

    .feature-text {
        font-size: 0.9em;
        text-align: justify;
    }



}