

:root {
  --primary-color: #021f25;
  
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:" Roboto, sans-serif";
  font-weight: 400;
}

header {
  margin-top: 1rem;
  height: 48px;
  width: 100%;
  padding: 0rem 1rem;
}

.top-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #a6cefb;
  width: 100%;
  padding: 0.5rem;
}

.right-side {
  display: flex;
  gap: 40px;
}

.right-side .email {
  color: #001d23;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.email {
  display: flex;
  gap: 20px;
}

.icon i {
  width: 40px;
  height: 48px;
  border: 2px solid #e9f4ff;
  font-size: 26px;
  padding: 5px;
}

.call {
  display: flex;
  gap: 20px;
  color: #001d23;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.info,
a {
  padding: 7px 0px;
  text-decoration: none;
  color: #001d23;
}

.icon {
  color: #086ad8;
}

.info a:hover {
  color: #086ad8;
  transition: 1ms;
}

.left-side {
  display: flex;
  gap: 20px;
}

.dropdown {
  padding: 10px 0px;
}

.left-side .email .info {
  padding: 10px 0px;
  text-align: center;
}

label:hover {
  color: #086ad8;
}

/* End top header */

.container {
  width: min(95%, 1200px);
  margin-inline: auto;
}

/* header */
.header {
  height: 6rem;

  position: relative;
}

.disktop-menus {
  padding: 1.4rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
}

.logo {
  font-size: 1.8rem;
  color: white;
  font-weight: 800;
  line-height: 2.2rem;
  letter-spacing: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.BOTTOM-TEXT-LOGO {
  font-size: 0.8rem;
  text-align: center;
  font-weight: 500;
}

.disktop-menus ul {
  display: flex;
  /* gap: 2rem; */
  list-style: none;

  align-items: center;
  text-align: center;
  justify-content: center;
}

.disktop-menus ul li a {
  font-size: 1.1rem;
  line-height: 1.625rem;

  font-weight: 500;
  font-family: "Roboto, sans-serif";
  color: #001d23;
  text-decoration: none;
  padding: 38px 20px;
  text-transform: capitalize;
  transition: background-color 0.5s;
}

.disktop-menus ul li a:hover {
  color: #086ad8;
}

.getA-Quote {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.getA-Quote .get {
  display: flex;
  gap: 10px;
  background-color: #086ad8;
  padding: 0.7rem 1.5rem;
  margin-right: 1.25rem;
  color: white;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.getA-Quote .get span {
  color: white;

  font-size: 17px;
  font-weight: 700;
  font-family: "Roboto, sans-serif";
}

.getA-Quote .get a {
  font-size: 17px;
  font-weight: 700;
  color: white;
  font-family: "Roboto, sans-serif";
  text-decoration: none;
  left: 54px;
}

.getA-Quote .get:hover {
  background-color: #000;
}

.getA-Quote .get:hover a {
  color: #fff;
}

.getA-Quote .get:hover span {
  color: #fff;
}

.search-Icon {
  font-weight: 400;
  height: 54px;
  padding: 1.2rem 1.4rem;
  text-align: center;
  transition: background-color 0.5s;
  cursor: pointer;
}

.search-Icon i {
  color: #086ad8;
}

.search-Icon:hover {
  background-color: #086ad8;
}
.search-Icon:hover i {
  color: white;
}

/* mobile menu */
.humber-contaier {
  display: none;
}

.mobile-menus {
  display: none;
}

.mobile-menu ul {
  display: flex;
  /* gap: 2rem; */
  list-style: none;

  align-items: center;
  text-align: center;
  justify-content: center;
}

.mobile-menu ul li a {
  font-size: 1.2rem;
  line-height: 1.625rem;
  font-weight: 500;
  font-family: "Roboto, sans-serif";
  color: white;
  text-decoration: none;
  padding: 38px 20px;
  text-transform: capitalize;
  transition: background-color 0.5s;
}

/* End second header */



.about-section {
  width: 100%;
  height: 350px;
  background-image: url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGFib3V0JTIwdXMlMjBjb21wdXRlciUyMCUyMGltYWdlfGVufDB8fDB8fHww'); 
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 20px;
}

.about-section h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.breadcrumb {
  font-size: 0.9em;
}

.breadcrumb a {
  color: #fff;
  text-decoration: none;
}

.breadcrumb span {
  color: #fff;
}



 /* section two about us */

 /* styles.css */


.about2{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.image {
  flex: 1 1 40%;
  position: relative;
  max-width: 400px;
  margin-right: 20px;
}

.image {
  width: 100%;
  border-radius: 5px;
  
}



.content {
  flex: 1 1 60%;
}
.content span{
  color: #007bff;
}

.content h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}


.content p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}



.learn-more {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.learn-more:hover {
  background-color: #0056b3;
}

/* Responsive Design */

@media (max-width: 768px) {
  .about-section {
      flex-direction: column;
  }

  .images {
      margin-bottom: 20px;
      max-width: 100%;
  }

  .content h2 {
      font-size: 2rem;
  }

  .content p {
      font-size: 0.9rem;
  }
}


/* end section two about us */

/* our team*/
.ourTeam-container {
  margin-top: 5rem;
  height: 40rem;

}

.ourTeam-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.ourTeamTitle h4 {
  font-style: normal;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.ourTeamTitle h4 span {
  padding-right: 0.5rem;
  color: #086AD8;
}

.ourTeamTitle h2 {
  font-size: 3.125rem;
  font-weight: 500;
  line-height: 3.75rem;
  color: #001D23;
  font-family: "Roboto", sans-serif;
  padding-bottom: 3rem;
}

.outeam-images {
  position: relative;

}

.outeam-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ourteam-Text {
  position: absolute;
  /* background-color: #086AD8; */
  top: 80%;
  right: 8%;
  left: 8%;
  bottom: 0;
  text-align: center;
  height: 40%;

  background-color: #fff;
  padding: 0.5rem 3rem;
}

.outeam-images img:hover {
  transform: scale(1.01);
}

.ourteam-Text h3 {
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: 500;
  margin-top: 0.5rem;
  font-family: "Roboto", sans-serif;

}

.ourteam-Text p {
  font-size: 0.875rem;
  font-weight: 600;
  color: #086AD8;
  line-height: 1.625rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.ourTeam_icons {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-around;
  color: #086AD8;
  transition: color 1s ease-in-out;
  cursor: pointer;
}

.ourTeam_icons span:hover {
  color: #001D23;
}

/* end our team*/



/* start testimoil.. section style */

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 35rem;
}

.section__container h2 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 29, 35);
  line-height:28px;
}

.section__container h1 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__container h1::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 5rem;
  background-color: var(--primary-color);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section__card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 2rem 2rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.section__card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 75%;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--primary-color);
  z-index: -1;
  transition: 0.5s;
}

.section__card span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  color: var(--white);
}

.section__card h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card p {
  margin-bottom: 2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card img {
  margin-bottom: 1rem;
  max-width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #086AD8;
  transition: 0.3s;
}



.section__card h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__card h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.section__card:hover::before {
  width: 400%;
  background-color: #086AD8;
  
}

.section__card:hover :is(h4, h5) {
  color: var(--white);
}

.section__card:hover :is(p, h6) {
  color: var(--secondary-color);
}

.section__card:hover img {
  border-color: var(--white);
}





/* Responsive */




@media (max-width: 768px) {


  .top-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    /* border-bottom: 1px solid #666; */
    padding-bottom: 0rem;
  }

  .right-side,
  .left-side {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .icon i {
    font-size: 22px;
    padding: 3px;
  }

  .dropdown,
  .call,
  .email .info {
    font-size: 14px;
    line-height: 22px;
  }

  .info,
  a {
    font-size: 14px;
  }

  /* end top header */


  /* mobile resposive */

  /* mobile menus */
  .humber-contaier {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    /* margin-top: 2rem; */
    padding: 2rem 0rem;
  }
  .humber-contaier .humber {
    z-index: 999;
  }

  .humber i {
    color: #086ad8;
    font-size: 1.3rem;
    border: 1px solid #086ad8;
    font-weight: 700;
    padding: 10px 13px;
    cursor: pointer;
    /* width: 30px; */
    z-index: 999;
  }

  .logo {
    font-size: 1.5rem;
    color: black;
    font-weight: 800;
    line-height: 2.2rem;
    letter-spacing: 0.5rem;
    text-align: center;
    cursor: pointer;
  }

  .mobile-menus {
    display: flex;
    flex-direction: column;

    z-index: 111;
  }

  .mobile-menu ul {
    /* padding-left: 1rem; */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    height: 30rem;
    left: 0px;
    line-height: 26px;
    top: -26px;
    position: absolute;
  }

  .mobile-menu ul li {
    width: 100%;
    /* border: 1px solid white; */
    padding-bottom: 12px;
    /* padding-left: 45.0938px; */
    /* padding-right: 45.0938px; */
    padding-top: 12px;
    background-color: #001d23;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-top-style: solid;
    border-top-width: 0.666667px;
    transition: transform 3s ease-in-out;
    margin-inline: auto;
    text-align: center;
  }

  .mobile-menu ul li a {
    /* font-size: 1rem; */
    line-height: 26px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }

  .mobile-menu ul li a:hover {
    color: #086ad8;
  }

  .mobile-menus {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    width: 100%;

    transition: 4s all;

    transform: translateY(0%);
  }

  .mobile-menus[data-visible="false"] {
    transform: translateY(100%);
    display: none;
  }

  .humber i[data-visible="false"] {
    display: none;
  }

  .humber i[data-visible="true"] {
    display: block;
  }
  /*end  mobile menus */

  /* desktop-menus */
  .disktop-menus {
    display: none;
  }

  /* end desktop-menus */
  /* end mobile resposive */

  .about-section h1 {
      font-size: 1.5em;
  }
  .breadcrumb {
      font-size: 0.8em;
  }

}



@media (max-width: 480px) {
  .about-section h1 {
      font-size: 1.2em;
  }
  .breadcrumb {
      font-size: 0.7em;
  }
}




/* Responsive Design */


@media (max-width: 992px) {
  .top-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-align: center;
    /* border-bottom: 1px solid #666; */
    padding-bottom: 0rem;
  }
/* mobile menus */
.humber-contaier {
  display: flex;
  margin-top: 5rem;
  justify-content: space-between;
  /* margin-top: 2rem; */
  padding: 2rem 0rem;
}
.humber-contaier .humber {
  z-index: 999;
}

.humber i {
  color: #086ad8;
  font-size: 1.3rem;
  border: 1px solid #086ad8;
  font-weight: 700;
  padding: 10px 13px;
  cursor: pointer;
  /* width: 30px; */
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  color: black;
  font-weight: 800;
  line-height: 2.2rem;
  letter-spacing: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.mobile-menus {
  display: flex;
  flex-direction: column;

  z-index: 111;
}

.mobile-menu ul {
  /* padding-left: 1rem; */
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  height: 30rem;
  left: 0px;
  line-height: 26px;
  top: -26px;
  position: absolute;
}

.mobile-menu ul li {
  width: 100%;
  /* border: 1px solid white; */
  padding-bottom: 12px;
  /* padding-left: 45.0938px; */
  /* padding-right: 45.0938px; */
  padding-top: 12px;
  background-color: #001d23;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-top-style: solid;
  border-top-width: 0.666667px;
  transition: transform 3s ease-in-out;
  margin-inline: auto;
}

.mobile-menu ul li a {
  /* font-size: 1rem; */
  line-height: 26px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

.mobile-menu ul li a:hover {
  color: #086ad8;
}

.mobile-menus {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  width: 100%;

  transition: 4s all;

  transform: translateY(0%);
}

.mobile-menus[data-visible="false"] {
  transform: translateY(100%);
  display: none;
}

.humber i[data-visible="false"] {
  display: none;
}

.humber i[data-visible="true"] {
  display: block;
}
/*end  mobile menus */

/* desktop-menus */
.disktop-menus {
  display: none;
}

/* end desktop-menus */
/* end mobile resposive */

  .section__grid {
    grid-template-columns: repeat(2, 1fr);

  }
  .ourTeam-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;

}
.ourTeam-container {
    margin-top: 5rem;
    height: 90rem;

}

}



@media (max-width: 768px) {
  .about-section {
      flex-direction: column;
  }

  .images {
      margin-bottom: 20px;
      max-width: 100%;
  }

  .content h2 {
      font-size: 2rem;
  }

  .content p {
      font-size: 0.9rem;
  }


@media (max-width: 768px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
}
}

@media (max-width: 576px) {
  .section__container h1 {
    font-size: 2rem;
  }

  .section__container h2 {
    font-size: 1.25rem;
  }

  .section__card {
    padding: 3rem 1rem 1.5rem;
  }

  .section__card h4 {
    font-size: 1.25rem;
  }

  .section__card h5 {
    font-size: 1.1rem;
  }

  .section__card h6 {
    font-size: 0.9rem;
  }

  .section__card p {
    font-size: 0.9rem;
  }
}
.ourTeam-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;

}
.ourTeam-container {
  margin-top: 5rem;
  height: 40rem;

}

@media (max-width: 481px) {
  .section__grid {
    grid-template-columns: 1fr;
  }
  .ourTeam-items {
    display: grid;
    grid-template-columns: 1fr ;
    row-gap: 5rem;
  
  }
  .ourTeam-container {
    margin-top: 5rem;
    height: 135rem;
  
  }
}
